<ul class="list-unstyled" >
    {% for mensajes in datos_mensajes %}
        <li class="timeline-item" style="margin:0px !important; padding:0px !important">
            <div class="card card-white"  style="margin:10px !important; padding:10px !important">
                <div class="timeline-item-header">
                        <a href="{% url 'profile' mensajes.id.pk %}"><img src="/{{ mensajes.profilepic }}" /> </a>
                        <p><a href="{% url 'profile' mensajes.id.pk %}" class="vinculos">{{ mensajes.watchname }} </a> <span>Posteó un mensaje</span></p>
                    <small>{{ mensajes.datepost }}</small>
                </div>
                <div class="timeline-item-post">
                    <p><small>{{ mensajes.Text }}</small></p>
                    <div class="timeline-options">
                        <a href="#" class="btn btn-outline-dark btn-sm" style="width:90px !important;"><small>Like </small></a>
                        <a href="#" class="btn btn-outline-dark btn-sm" style="width:90px !important;"><small>Comentarios </small></a>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>