{% load static %}
<div class="row">
    <div class="col-lg-5 col-xl-3">
        <div class="card card-white grid-margin">
            <div class="card-heading clearfix">
                <h4 class="card-title">Perfil de Usuario</h4>
            </div>
            <div class="card-body user-profile-card mb-3">
                <img src="{{ user_data.profilepic }}" class="user-profile-image rounded-circle" alt="" />
                <h3 class="text-center h6 mt-2">@{{ user_data.watchname }}</h3>
                {% comment %} <p class="text-center small">{{ user.username }}</p> {% endcomment %}
                <br />
                <a href="" class="btn btn-info btn-sm" style="width:120px">{{ list_follow_count }}  Seguidores</a>
                <br/><br/>
                <a href="" class="btn btn-info btn-sm" style="width:120px">{{ list_friend_count }}  Siguiendo</a>
                <hr />
                <a href="" class="btn btn-outline-danger btn-sm" style="width:120px">Modifica Perfil</a>
                <br /><br />
                <a href="{% url 'logout' %}" class="btn btn-dark btn-sm" style="width:120px"> Logout </a>
                <hr />
            </div>
            <div class="card-heading clearfix mt-3">
                <h4 class="card-title">Bio</h4>
                <p class="mb-0">{{ user_data.description }}</p>
                <hr />
            </div>

            <div class="card-heading clearfix mt-3">
                <h4 class="card-title">Información</h4>
                <table class="table-borderless mb-0 text-muted">
                    <tr>    <th scope="row" class="table-light">Cumpleaños:</th>                </tr>
                    <tr>    <td><small>{{ user_data.bday }}</small></td>                        </tr>
                    <tr>    <th scope="row"  class="table-light">Nombre Completo: </th>         </tr>
                    <tr>    <td><small>{{ user.first_name }} {{ user.last_name }} </small></td> </tr>
                    <tr>    <th scope="row"  class="table-light">Email:</th>                    </tr>
                    <tr>    <td><small>{{ user.email }}</small></td>                            </tr>
                </table>
            </div>
                
        </div>
    </div>