<div class="card-heading clearfix">
    <h4 class="card-title">Sugerencias</h4>
</div>
<div class="card-body">
    <div class="team">
        <div class="team-member">
            <div class="online on"></div>
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
        </div>
        <div class="team-member">
            <div class="online on"></div>
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
        </div>
        <div class="team-member">
            <div class="online off"></div>
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
        </div>
    </div>
</div>